<template>
  <q-page class="justify-center">
    <!-- <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    > -->
    <div class="flex justify-center q-mt-lg">
      <q-input
        placeholder="Search with title.."
        outlined
        v-model="search"
        debounce="500"
        @change="searchMovies"
      >
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
    </div>
    <div class="flex justify-center q-mt-lg">
      <div class="column q-gutter-sm">
        <div v-if="dataMovie.length !== 0" class="column q-gutter-sm">
          <q-card
            v-for="list in dataMovie"
            :key="list.id"
            style="min-width: 300px"
          >
            <q-card-section @click="openDeleteModal(list.id)">
              <div class="text-h6">{{ list.title }}</div>
              <div class="text-subtitle2">{{ list.director }}</div>
              <div class="flex justify-end text-subtitle2">
                <div>
                  {{
                    list.genre.length <= 1
                      ? list.genre[0]
                      : listStrings(list.genre)
                  }}
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
        <div v-else>No Movie List</div>
      </div>
    </div>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="primary" @click="openModalAdd" />
    </q-page-sticky>
    <q-dialog v-model="medium">
      <q-card style="width: 700px; max-width: 80vw">
        <q-card-section>
          <div class="flex justify-between">
            <div class="text-h6">Add Movie</div>
            <div class="flex">
              <q-btn
                square
                color="green"
                class="q-mr-md"
                @click="addMoviesButton"
              >
                <q-icon name="fa-regular fa-floppy-disk"></q-icon>
              </q-btn>
              <!-- <q-btn disabled square color="negative">
                <q-icon name="fa-regular fa-trash-can"
              /></q-btn> -->
            </div>
          </div>
        </q-card-section>
        <q-separator />
        <div class="q-pa-md">
          <q-input
            class="q-mb-sm"
            outlined
            v-model="formMovieAdd.title"
            label="Title"
          />
          <q-input
            class="q-mb-sm"
            outlined
            v-model="formMovieAdd.director"
            label="Director"
          />
          <q-input
            class="q-mb-sm"
            label="Summary"
            v-model="formMovieAdd.summary"
            outlined
            type="textarea"
            :rules="[
              (val) => val.length <= 100 || 'Please use maximum 100 characters',
            ]"
          />
        </div>
        <div class="q-pa-md">
          <div class="text-title">Genre</div>
          <q-chip
            v-model:selected="desert.Action"
            color="primary"
            text-color="white"
          >
            Action
          </q-chip>
          <q-chip
            v-model:selected="desert.Animation"
            color="teal"
            text-color="white"
          >
            Animation
          </q-chip>
          <q-chip
            v-model:selected="desert.Drama"
            color="orange"
            text-color="white"
          >
            Drama
          </q-chip>
          <q-chip
            v-model:selected="desert.Scifi"
            color="yellow"
            text-color="white"
          >
            Sci-Fi
          </q-chip>
          <q-chip
            v-model:selected="desert.Horror"
            color="red"
            text-color="white"
          >
            Horror
          </q-chip>
        </div>
      </q-card>
    </q-dialog>
    <q-dialog v-model="deleteModal">
      <q-card style="width: 700px; max-width: 80vw">
        <q-card-section>
          <div class="flex justify-between">
            <div class="text-h6">Delete/Update Movie</div>
            <div class="flex">
              <q-btn
                square
                color="green"
                class="q-mr-md"
                @click="updateMoviesBtn"
              >
                <q-icon name="fa-regular fa-floppy-disk"></q-icon>
              </q-btn>
              <q-btn square color="negative" @click="deleteListMovie">
                <q-icon name="fa-regular fa-trash-can"
              /></q-btn>
            </div>
          </div>
        </q-card-section>
        <q-separator />
        <div class="q-pa-md">
          <q-input
            class="q-mb-sm"
            outlined
            v-model="formMovieAdd.title"
            label="Title"
          />
          <q-input
            class="q-mb-sm"
            outlined
            v-model="formMovieAdd.director"
            label="Director"
          />
          <q-input
            class="q-mb-sm"
            label="Summary"
            v-model="formMovieAdd.summary"
            outlined
            type="textarea"
            :rules="[
              (val) => val.length <= 100 || 'Please use maximum 3 characters',
            ]"
          />
        </div>
        <div class="q-pa-md">
          <div class="text-title">Genre</div>
          <q-chip
            v-model:selected="desert.Action"
            color="primary"
            text-color="white"
          >
            Action
          </q-chip>
          <q-chip
            v-model:selected="desert.Animation"
            color="teal"
            text-color="white"
          >
            Animation
          </q-chip>
          <q-chip
            v-model:selected="desert.Drama"
            color="orange"
            text-color="white"
          >
            Drama
          </q-chip>
          <q-chip
            v-model:selected="desert.Scifi"
            color="yellow"
            text-color="white"
          >
            Sci-Fi
          </q-chip>
          <q-chip
            v-model:selected="desert.Horror"
            color="red"
            text-color="white"
          >
            Horror
          </q-chip>
        </div>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script setup>
// import { defineComponent } from "vue";
import { ref, reactive, watch } from "vue";

const search = ref("");
const medium = ref(false);
const deleteModal = ref(false);
const idTemp = ref("");
const openModalAdd = () => {
  medium.value = true;
};

const openDeleteModal = (id) => {
  idTemp.value = id;
  // console.log("id temp", idTemp);
  let dataFiltered = [];
  dataFiltered = dataMovie.value.filter((data) => data.id === id);
  formMovieAdd = dataFiltered[0];
  deleteModal.value = true;
};

const dataSearch = ref([]);
// const searchMovies = () => {
//   dataSearch.value = dataMovie.value.filter((data) =>
//     data.title.includes(search.value)
//   );
//   // console.log(dataSearch.value);
//   dataMovie.value = dataSearch.value;
//   console.log(dataMovie.value);

//   let dataMovieSaved = [];
//   if (localStorage.getItem("movielist")) {
//     dataMovieSaved = localStorage.getItem("movielist");
//     console.log("dataMovie", JSON.parse(dataMovieSaved));
//     // dataMovie.
//   }
//   if (search.value === "") {
//     dataMovie.value = JSON.parse(dataMovieSaved);
//   }
// };

watch(search, () => {
  // console.log("search watch", search.value);
  dataSearch.value = dataMovie.value.filter((data) =>
    data.title.includes(search.value)
  );
  // console.log(dataSearch.value);
  dataMovie.value = dataSearch.value;
  // console.log(dataMovie.value);

  let dataMovieSaved = [];
  if (localStorage.getItem("movielist")) {
    dataMovieSaved = localStorage.getItem("movielist");
  }
  if (search.value === "") {
    dataMovie.value = JSON.parse(dataMovieSaved);
  }
});

const desertInitialState = {
  Action: false,
  Animation: false,
  Drama: false,
  Scifi: false,
  Horror: false,
};

let desert = reactive({
  ...desertInitialState,
});

const stringgenrelist = ref("");
const arraylistgenre = ref([]);

watch(desert, () => {
  // console.log(desert.value);
  stringgenrelist.value = Object.keys(desert)
    .filter((type) => desert[type] === true)
    .join(", ");
  // arraylistgenre.value.push(stringgenrelist.value);
  // console.log(arraylistgenre.value);
  arraylistgenre.value = stringgenrelist.value.split(",");
  // console.log(arraylistgenre.value);
});

const addMoviesButton = () => {
  formMovieAdd.genre = arraylistgenre.value;
  const formData = {
    id: makeid(6),
    title: formMovieAdd.title,
    director: formMovieAdd.director,
    summary: formMovieAdd.summary,
    genre: arraylistgenre.value,
  };
  dataMovie.value.push(formData);
  localStorage.setItem("movielist", JSON.stringify(dataMovie.value));
  // console.log("list movie ", dataMovie.value);

  medium.value = false;
  reset();
};

const updateMoviesBtn = () => {
  formMovieAdd.genre = arraylistgenre.value;
  const formDataUpdate = {
    id: formMovieAdd.id,
    title: formMovieAdd.title,
    director: formMovieAdd.director,
    summary: formMovieAdd.summary,
    genre: arraylistgenre.value,
  };
  let items = dataMovie.value.map((x) =>
    x.id === formDataUpdate.id ? formDataUpdate : x
  );
  // console.log("updated array", items);
  dataMovie.value = items;
  localStorage.setItem("movielist", JSON.stringify(dataMovie.value));
  deleteModal.value = false;
  // formMovieAdd
  reset();
};

const forminitialState = {
  id: makeid(6),
  title: "",
  director: "",
  summary: "",
  genre: [],
};
let formMovieAdd = reactive({
  ...forminitialState,
});

function makeid(length) {
  let result = "";
  const characters =
    "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
  const charactersLength = characters.length;
  let counter = 0;
  while (counter < length) {
    result += characters.charAt(Math.floor(Math.random() * charactersLength));
    counter += 1;
  }
  return result;
}

function reset() {
  Object.assign(formMovieAdd, forminitialState);
  Object.assign(desert, desertInitialState);
}

function deleteListMovie() {
  const id = idTemp.value;
  const arr = dataMovie.value.filter((obj) => obj.id !== id);
  dataMovie.value = arr;
  localStorage.setItem("movielist", JSON.stringify(dataMovie.value));
  deleteModal.value = false;
}

const dataMovie = ref([]);

function listStrings(arr) {
  return arr.slice(0, -1).join("/") + "/" + arr.at(-1) + "";
}
</script>
